
/*.aboutus .line{
	width:50%; 
	height: 1px; 
	background: #fff; 
	padding: 0; 
	margin-top: 1px;
}*/
h1{
	text-align: center;
	
}
.aboutus .caption{
	/*display: inline-block;*/
	width: 250px; 
	text-align: center;
	margin-top: 0;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}
.aboutus .container{
	justify-content: center;
	position: relative;
	max-width: 79%;
	padding-left: 10px;
	padding-right: 10px;
	/*margin-left: 80px;
	margin-right: 50px;
	margin-top: 30px;*/
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction: column;
	padding-top: 4%;
}
.aboutus .image{
  opacity: 1;
  display: inline;
  padding-bottom: 0.5em;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}
.aboutus .container .text{
	line-height: 35px;
	color: black;
}
.aboutus.container .caption .pos{
	font-size: 24px;
	color: grey;
	margin-top: -8px;
	padding: 0px, 0px, 0px, 0px;
}
.aboutus .name{
	font-size: 24px;
	margin: 0px, 0px, 0px, 0px;
	padding: 0px, 0px, 0px, 0px;
}
/*.aboutus #aboutInvente{
	background-color: grey;
	color: orange;
	border-radius: 10px;
	margin-left: 80px;
	margin-right: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.aboutus h2{
	text-align: center;
	margin-top: 15px;
}
.aboutus #aboutInvente p{
	font-size: 17px;
}*/