

#about-invente {
position: relative;
    height:705px;
    width: 100%;
    background: #ff7f50 no-repeat;
    @media screen and (orientation:'portrait'){
        height:295px;
    }

    #head{
        color: white;
        width: 15%;
        position: absolute;
        top: 39px;
        left: 46.5%;
        font-size: 41px;
        font-weight: bold;

        @media screen and (orientation:'portrait') {
            left: 45.5%;
            font-size: 15px;
        }
        
    }
    #invente-content{
        height:400px;
         position: relative;
        @media screen and (orientation:'portrait') {
             height:250px;
             padding-top:3%;
        }

        #image{
            position: relative;
            top: 52px;
            height: 124%;
            width: 100%;

            @media screen and (orientation:'portrait'){
                top: 35px;
                height: 80%;

            }

            img{
                height:116%;
                width:100%;
                @media screen and (orientation:'portrait'){
                    height: 100%;
                }
            }
        }

        #main{

            position: absolute;
            top: 43%;
            left: 20%;
            width: 76%;
            @media screen and(orientation:'portrait') {
           top:74px;
           left:53px;
            }

            div{
                text-align:center;
                font-size: 24px;
                width:75%;
                @media screen and (orientation:'portrait') {
                    font-size: 9.38px;
                    width: 95%;
                }
            }
        }
    }

}



/* Star Events*/

/* Home page*/

#page-main{

    position: relative;
    #page-main-img{
         
        width:100%;
         height:100%;
    }

    #page-bubble{
        position: absolute;
        top: 69%;
        left: 35%;
        z-index: 1;

        @media screen and (orientation:'portrait'){
            top: 31%;
            left: 36%;
        }
        #page-bubble-img{
            height: 100px;
            width: 400px;
            animation: toggle 20s linear infinite 3s;

            @media screen and (orientation:'portrait'){
                height:200px;
                width:100px;
            }
        }
    }
    #page-fountain{
        position: absolute;
    top: 39%;
    left: 35%;
    width: 30%;
    height: 37%;
    
     #page-fountain-img{
             height:100%;
            width:100%;
            animation:disolve 20s ease-in infinite 3s;
           
        }
    }

    #page-bulb{ 
         position: absolute ;
         top: 29%;
         left: 40%;
         @media screen and (orientation:'portrait') {
            top: 31%;
            left: 13%;
         }
         #page-bulb-img{
             height:400px;
             width:280px;
             opacity: 0;
             fill:#ff9800;
             animation: gotop 20s ease-in-out infinite 3s;
             @media screen  and (orientation:'portrait'){
                height:100px;
            }
         }
    }
}

@keyframes toggle{
     0%{
         transform: translateY(0px);
         opacity: 1;
     }
     2%,5%,7%,10.62%{
        transform: translateY(-10px);
        opacity: 1;
     }
     3%,6%,8.36%,11.98%,12.45%{
          transform: translateY(0px);
          opacity: 1;
    }
    14.67%,16.76%,20.86%,26.32%,35.4%,37.76%,40.56%,44.5%{
        transform: translateY(-10px);
        opacity: 1;
    }
    15.26%,18.43%,23.87%,33.33%,36.5%,39.49%,43.5%{
        transform: translateY(0px);
        opacity: 1;
    }
    46.56%{
        transform: translateY(-10px);
        opacity:0;
    }
    66.66%{
        transform: translateY(0px);
             opacity: 0;
    }
    100%{
        opacity: 0;
    }

}
@keyframes disolve{
   0%{
       transform: translateY(1px);
       opacity:1;
   }
   33.33%{
       transform: translateY(0px);
       opacity: 1;
   }
   46.56%{
    transform: translateY(-1px);
    opacity:0.2;
}
   66.66%{
        transform: translateY(0px);
      opacity: 0;
   }
   100%{
    opacity: 0;
   }

}
@keyframes gotop{

    0%{
        opacity: 0;
    }
    70%{
        opacity: 1;
        display: block;
        fill: #ff9800;
    }
    75%,76%,80%,81%,85%,86%,90%,91%,95%{
        fill:transparent;
        opacity: 1;
        display: block;
    }
    75.5%,76.5%,80.5%,81.5%,85.5%,86.5%,90.5%,91.5%,95.5%{
        fill:#ff9800;
        opacity: 1;
    }
    96%,97%,98%{
        fill:#ff9800;
        opacity: 0;
    }
}



#detail-page{
background: #eee;

    #content{
        display: flex;
        flex: 1 1 0;
        justify-content: space-around;
        margin-top: 30px;
    
        @media screen and (orientation:'portrait'){

            flex-direction: column;
            align-items: center;
            margin-top: 0px;
        }
        #image-eve{
            width:300px;
            height:300px;
            margin-top:74px;
            @media screen and (orientation:'portrait') {
                width:200px;
                height:200px;
                margin-top:25px;
            }
        }
        #image-cp{
            width:300px;
              height:400px;
              @media screen and (orientation:'portrait') {
                width:250px;
                height:350px;
            }
        }
        #image-ws{
            width: 300px;
             height:300px;
             margin-top:74px;
             @media screen and (orientation:'portrait') {
                width:200px;
                height:200px;
                margin-top:25px;
            }
        }
    }
    }

    #flagship-events{
        position: relative;
        background: #ff7f50;
        #main-fe{
            width: 540px;
            height: 330px;
            margin: 13% 30%;

            @media screen and(orientation:'portrait'){
                width: 152px;
                height: 245px;
            }
        }

        #main-codo{
            width: 244px;
            height: 143px;
            position: absolute;
            top: 5%;
            left: 41%;
            @media screen and(orientation:'portrait'){
             width:100px;
             height: 100px; 
             left:36%;  
            }
        }

        #main-nitro{
            width: 337px;
            height: 124px;
            position: absolute;
            top: 21%;
            right: 15%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;  
                top:19%;
                right:9%; 
               }
        }

        #main-concrete{
            width: 368px;
            height: 156px;
            position: absolute;
            top: 40%;
            right: 7%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;   
                top:34%;
                right: 3%;
               }
        }

        #main-line{
            width: 348px;
            height: 103px;
            position: absolute;
            top: 65%;
            right: 14%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;  
                top:50%;
                right:4%; 
               }
        }

        #main-hackathon{
            width: 320px;
            height: 130px;
            position: absolute;
            bottom: 6%;
            right: 23%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;   
                bottom:11%;
                right:16%;
               }
        }

        #main-autochem{
            width: 320px;
            height: 140px;
            position: absolute;
            bottom: 6%;
            left: 22%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;  
                bottom:10%;
                left:16%; 
               }
        }

        #main-biomart{
        width: 324px;
        height: 192px;
        position: absolute;
        bottom: 15%;
        left: 14%;
        @media screen and(orientation:'portrait'){
            width:100px;
            height: 100px; 
            bottom:21%;
            left:6%;  
           }
        }

        #main-bottle{
            width: 367px;
            height: 148px;
            position: absolute;
            top: 40%;
            left: 7%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px; 
                top:36%;
                left:2%;  
               }
        }

        #main-build{
            width: 337px;
            height: 140px;
            position: absolute;
            top: 20%;
            left: 14%;
            @media screen and(orientation:'portrait'){
                width:100px;
                height: 100px;   
                left:7%;
               }
        }
    }

