.card{
	display: inline-block;
	width: 44%;
	//background-color: #eaeae5;
	//box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	text-align: center;
	margin-left:27%;

	img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-top:3%;
	}
}

#staff-coordinator,#student-coordinator{
	margin-top:20px;
}
.card-set{
	display:flex;
	width:100%;
	flex:50% 1;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	.card-set-child{
		display: inline-block;
		padding:5px;
		width:25%;
		margin:12px;
		//background-color: #eaeae5;
		//box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		border-radius:15px;


		 img{
			width:100px;
			height:100px;
			margin:9px;
			border-radius: 50%;
			position: relative;
      left: 31%;
		}
		.staff-name{
			font-size:18px;
			text-align:center;
			margin:0px;
			 .dept-name{
			  margin-top:0px;
			 }

		}

	}
	.card-set-child:nth-last-child(1){
		margin-left: 29%;
		@media only screen and (orientation:'portrait'){
		  margin-left:12px;
		}
	}

	@media only screen and (orientation:'portrait'){
		display: flex;
		width:100%;
		flex-wrap: wrap;
		.card-set-child{
		  display: flex;
		  flex-direction: column;
		  margin-right: 23px;
		  width:34%;
	      img{
	    	  width:63px;
			   height:63px;
			   margin-left:0px;
		  }
		  p{
			  text-align: center;
		  }
	   }
	}

}


/*HOME PAGE */
#main-landing{
    min-height: 100vh;
	background-image: url('https://images.ssninvente.com/front/frontpage.svg');
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (orientation:'portrait') {
		background-position:45% 50%;
	}
}

#footer{
	max-width:100%;
	min-height: 100px;
	margin: auto;
	border-top:2px solid coral;
	border-bottom:2px solid coral;
	#footer-detail{
		display: flex;
		flex-direction: row;
		justify-content:center;
		width: 100%;
		#footer-info{
			margin-left:15%;
		}

		#footer-touch{
			#href-link{
				display: flex;
				flex-direction: row;
				justify-content: center;
				 padding-top: 0px;
				 a{
					 padding:4px;
			.link-social{
				display: inline-block;
				border-radius: 50%;
				padding-top: 10px;
				padding-right: 10px;
				padding-left: 10px;
				padding-bottom: 10px;
				margin: 0 22px;
				border: 2px solid black;
			}
		}

		@media screen and (orientation:'portrait'){
			display: flex;
			flex-direction: row;
			left:4%;
		}
		}
		}
		.flex-row-item{
			  width:40%;
		}
			  
	}
}