$theme-orange:#f49242;
$theme-grey: #eaeae5;

body{
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
	color:inherit;
}

.navigator{
	//background:$theme-orange;
	border-bottom: 2px solid $theme-orange;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	.main{
		h3{
			margin:16px;
		}
	}
	.links{
		a{
			display:inline-block;
			padding:8px 16px;
			&:hover{
				background:white;
				color:$theme-orange;
			}
		}
	}
	@media only screen and (orientation:'portrait'){
		border-bottom:none;
		flex-direction:column;
		align-items:stretch;
		.links{
			display:flex;
			overflow:scroll;
			background:$theme-grey;
		}
	}
}