//$theme-orange:#f49242;
$theme-orange:#ff7f50;

$theme-grey: #eaeae5;


body{
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', 'sans-serif';
}
a{
	text-decoration:none;
	color:inherit;
}

.navigator{
	.links{
		a.active{
			background:$theme-orange;
			color:white;
			border-radius:8px;
			transition:0.5s;
		}
	}
}

@media screen and (orientation:portrait){
	.navigator{
		.links{
			overflow: scroll;
			background:#eee;

		}
	}
}

.navigator{
  .main{

  }
}


.department-link{
	border:1px solid transparent;
	img{
		width:150px;
	}


}


.event-detail{

	.notes{
		border:1px solid #000;
		padding:8px 8px;
		border-radius:5px;
	}

	.absolute{//top sections
		h1,h5{
			background:$theme-orange;
			color:white;
			display:inline-flex;
		}
	}
	.close-btn{
		color:white;
		font-size:2em;
		right:0px;
		top:0px;
		padding:8px;
	}
}

.contact-card{
	border:1px solid #eee;
	border-radius:5px;
	display:inline-block;
	padding:8px 16px;
}


.holi{
	//polyfill
	.col{
		&.x-start{
			align-items: flex-start;
		}
		}
}

.maxi960{
	max-width:960px;
	margin:auto;
}

/*Organisers Page css */
@import 'ram.scss';
